<!-- TODO:게시글 리스트를 보여주기 => DB를 이용해서 -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href="/stylesheets/style.css">
    <title>BoardList</title>
</head>

<body>
    <h1>게시글 목록</h1>
    <table border="1">
        <tr>
            <td style="width:100px;height:10px;font-size:15px;"">번호</td>
            <td style="width:600px;height:10px;font-size:15px;"">제목</td>
            <td style="width:300px;height:10px;font-size:15px;"">작성자</td>
        </tr>
        <% for(var i=0; i<list.length; i++) { %>
            <tr>
                <!-- TODO: 제목, 게시글 클릭시 해당 글로 이동 -->
                <td><%=list[i].board_uid%></td>
                <td><%=list[i].board_title%></td>
                <td><%=list[i].board_writer%></td>
            </tr>
            <%}%>
    </table>
</br>
    <button type="button" class="btnCreate" style="margin-right: 2%; float: right;" onclick="location.href='/board/write'">글 작성하기</button>
</body>

</html>